{% extends 'main/header.html' %}

{% block content %}

    
    
    

    <div class="d-flex  justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{user.avatar_url}}" alt="Avatar not available">
        <div class="card-body">
            <h5 class="card-title">{{user.user.first_name}} {{user.user.last_name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>USERNAME:</b><br>
                {{user.user.username}}</li>
                <li class="list-group-item"><b>EMAIL:</b><br>
                {{user.user.email}}</li>
                <li class="list-group-item"><b>LAST LOGIN:</b><br>
                {{user.user.last_login}}</li>
            </ul>
        </div>
    </div>
        
    </div>

{% endblock content %}
